@import url("../Style.css");
/* Estilos para el cuerpo (body) de la página */
body{
    display: flex; /* Utiliza Flexbox para la disposición de los elementos internos */
    flex-direction: column; /* Coloca los elementos hijos en una columna vertical */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    justify-content: center; /* Centra los elementos hijos verticalmente (aunque 'overflow: hidden' puede interferir) */
    background-color: var(--color-primario); /* Establece el color de fondo usando la variable global */
    overflow: hidden; /* Oculta el contenido que se desborda del cuerpo (puede evitar barras de desplazamiento) */
}
/* Estilos para la clase que probablemente contiene el logo en el encabezado */
.encabezado__logo{
    width: 450px;/* Define un ancho fijo para la imagen del logo */
    height: 200px; /* Permite que la altura se ajuste automáticamente manteniendo la proporción */
    margin-top: 50px;
}
/* Estilos para el botón principal */
.contenido--boton__primario{
    background-color: var(--color-botton--primario); /* Color de fondo verde neón */
    /* padding: 1.5rem, 1.8rem; Establecer el espacio interno */
    height: 100px; /* Altura fija */
    width: 300px;/* Ancho fijo */
    border-radius: 11px; /* Borde redondeado */
    font-family: var(--font-family);/* Aplica la fuente Poppins */
    font-size: xx-large; /* Tamaño de fuente grande */
    font-style: var(--font-style); /* Estilo de fuente normal */
    color: var(--color-texto-alterno); /* Color de texto azul oscuro (alterno) */
}
/* Estilos al pasar el ratón (hover) sobre el botón principal */
.contenido--boton__primario:hover{
    background-color: var(--color-botton--primario-hover); /* Cambia el color de fondo a azul vibrante */
    cursor: pointer;  /* Cambia el cursor a una mano, indicando que es interactivo */
}
/* Estilos para el botón secundario */
.contenido--boton__secundario{
    background-color: var(--color-botton--primario);/* Color de fondo azul vibrante */
    padding: 1.5rem 1.8rem; /*Establecer el espacio interno*/
    height: 100px; /* Altura fija */
    width: 300px; /* Ancho fijo */
    border-radius: 11px; /* Borde redondeado */
    font-family: var(--font-family); /* Aplica la fuente Poppins */
    font-size: xx-large;  /* Tamaño de fuente grande */
    font-style: var(--font-style); /* Estilo de fuente normal */
    color: var(--color-texto-alterno); /* Color de texto claro */
}
/* Estilos al pasar el ratón (hover) sobre el botón secundario */
.contenido--boton__secundario:hover{
    background-color: var(--color-botton--secundario-hover); /* Cambia el color de fondo a verde neón */
    cursor: pointer; /* Cambia el cursor a una mano, indicando que es interactivo */
}
/* Estilos para el botón terciario*/
.contenido--boton__terciario{
    background-color: var(--color-botton--primario); /* Color de fondo azul vibrante */
    padding: 1.5rem, 1.8rem;/*Establecer el espacio interno*/
    height: 100px; /* Altura fija */
    width: 300px; /* Ancho fijo */
    border-radius: 11px; /* Borde redondeado */
    font-family: var(--font-family); /* Aplica la fuente Poppins */
    font-size: xx-large; /* Tamaño de fuente grande */
    font-style: var(--font-style);/* Estilo de fuente normal */
    color: var(--color-texto); /* Color de texto claro */
}
/* Estilos al pasar el ratón (hover) sobre el botón terciario */
.contenido--boton__terciario:hover{
   background-color: var(--color-botton--secundario-hover); /* Cambia el color de fondo a verde neón */
    cursor: pointer; /* Cambia el cursor a una mano, indicando que es interactivo */
}
/* Estilos para el contenedor principal de contenido */
.main{
    display: flex; /* Utiliza Flexbox para la disposición */
    flex-direction: column; /* Coloca los elementos hijos en una columna vertical */
    gap: 44px; /* Espacio vertical de 20px entre los elementos hijos */
}
/* Estilos para el pie de página */
.footer{
    padding: 20px 45px; /* Padding interno arriba y abajo */
    text-align: center; /* Centra el texto */
    color: var(--color-texto); /* Color de texto claro */

}
/* Estilos para el contenedor de enlaces del pie de página */
.footer__links{
 list-style: none; /* Elimina los marcadores de lista (puntos/viñetas) */
 padding-top: 3rem; 
 display: flex; /* Utiliza Flexbox para la disposición de los enlaces */
 justify-content: center; /* Centra los enlaces horizontalmente */
 gap: 2rem; /* Espacio horizontal de 40px entre los enlaces */
}
/* Estilos para el primer enlace del pie de página */
.footer__primer--link{
  color: var(--color-texto); /* Color de texto claro */
  font-size: 20px; /* Tamaño de fuente de 20px */
  font-family: var(--font-family); /* Aplica la fuente Poppins */
  padding: 22px; /* Aplica espacio entre footer y el contenido*/
}
/* Estilos para el segundo enlace del pie de página (duplicado del primero) */
.footer__segundo--link{
 color: var(--color-texto); /* Color de texto claro */
 font-size: 20px; /* Tamaño de fuente de 20px */
 font-family: var(--font-family); /* Aplica la fuente Poppins */
 padding: 22px; /* Aplica espacio entre footer y el contenido*/
}
/* Selector de clase para un enlace que inicia una encuesta. */
.empezar__encuesta--link{
   text-decoration: none; /* Elimina el subrayado (decoración) predeterminado de los enlaces para que parezca texto normal. */
   color:var(--color-texto-alterno); /* Establece el color del texto utilizando la variable de color alternativo (azul oscuro). */
}
/*Selector de clase para un enlace que inicia sesión*/
.iniciar__sesion--link{
 text-decoration: none; /* Elimina el subrayado (decoración) predeterminado de los enlaces para que parezca texto normal. */
   color:var(--color-texto-alterno); /* Establece el color del texto utilizando la variable de color alternativo (azul oscuro). */
}
/*Selector de clase para un enlace que registra*/
.registrarse--link{
   text-decoration: none; /* Elimina el subrayado (decoración) predeterminado de los enlaces para que parezca texto normal. */
   color:var(--color-texto-alterno); /* Establece el color del texto utilizando la variable de color alternativo (azul oscuro). */
}